{% extends "bootstrap/base.html" %}
{% block scripts %}
  {{ super() }}
  {{ colorpicker.loader() }}
  {{ colorpicker.picker(ids=[".cp"], color_format='rgb', showAlpha='false', allowEmpty='false') }}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" type="image/x-icon" href="http://example.com/favicon.ico"/>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
{% endblock %}

{% block styles %}
{{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
{% endblock %}

{% block title %}IFMS Sign Control{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2 col"><a href="/letterF"><img class="img-responsive" src="{{ url_for('static', filename='F.png') }}"></a></div>
      <div class="col-xs-2 col"><a href="/letterO"><img class="img-responsive" src="{{ url_for('static', filename='O.png') }}"></a></div>
      <div class="col-xs-2 col"><a href="/letterR"><img class="img-responsive" src="{{ url_for('static', filename='R.png') }}"></a></div>
      <div class="col-xs-2 col"><a href="/letterG"><img class="img-responsive" src="{{ url_for('static', filename='G.png') }}"></a></div>
      <div class="col-xs-2 col"><a href="/letterE"><img class="img-responsive" src="{{ url_for('static', filename='E.png') }}"></a></div>
      <div class="col-xs-2 col"></div>
    </div>
  </div>

{% block page_content %}{% endblock %}
{% endblock %}
