{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
<link rel="icon" type="image/x-icon" href="http://example.com/favicon.ico"/>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
{% endblock %}

{% block styles %}
{{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block title %}IFMS Sign Control{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-1 col"></div>
      <div class="col-xs-2 col"><img class="img-responsive" src="{{ url_for('static', filename='F.png') }}"></div>
      <div class="col-xs-2 col"><img class="img-responsive" src="{{ url_for('static', filename='O.png') }}"></div>
      <div class="col-xs-2 col"><img class="img-responsive" src="{{ url_for('static', filename='R.png') }}"></div>
      <div class="col-xs-2 col"><img class="img-responsive" src="{{ url_for('static', filename='G.png') }}"></div>
      <div class="col-xs-2 col"><img class="img-responsive" src="{{ url_for('static', filename='E.png') }}"></div>
      <div class="col-xs-1 col"></div>
    </div>
  </div>

{% endblock %}
