{% extends "bootstrap/base.html" %}
{% block title %}IFMS Sign Control{% endblock %}

{% block content %}
  <div class="container-fluid">
    <img width="90" src="{{ url_for('static', filename='F.png') }}">
    <img width="90" src="{{ url_for('static', filename='O.png') }}">
    <img width="90" src="{{ url_for('static', filename='R.png') }}">
    <img width="90" src="{{ url_for('static', filename='G.png') }}">
    <img width="90" src="{{ url_for('static', filename='E.png') }}">
  </div>

{% endblock %}
